<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" href="assets/css/myproject.css" />
  <link rel="stylesheet" href="assets/css/nav.css">
  <script src="https://unpkg.com/feather-icons"></script>
  <title>My Project</title>
</head>

</html>


<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand ms-5" href="/"><img src="/assets/img/dumbways logo.png "></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active ms-5 fs-5" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active ms-5 fs-5" href="/addproject">Add Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active ms-5 fs-5" href="/testimonial">Testimonials</a>
          </li>
        </ul>
        <a href="/contact"><button class="btn btn-outline-success me-5 text-white btn fs-5" type="submit">Contact
            Me</button></a>
      </div>
    </div>
  </nav>
  <div class="container-hamburger-menu" id="listNav">
     <a href="index">Home</a>
    <a href="addproject">Add Project</a>
    <a href="testimonial">Testimonial</a>
    <a href="contact">Contact Me</a>
  </div>
  <!-- Navbar end -->

  <!-- Form -->
  <div class="blog">
    <div class="blog-form">
      <div class="form-container">
        <form>
          <h1>Add My Project</h1>
          <div>
            <label for="inputTitle">Project Name</label>
            <input type="text" id="inputTitle" />
          </div>
          <div>
            <table>
              <th>
                <tr>
                  <td>
                    <label for="startDate">Start Date</label>
                    <input style="width:  auto;" type="date" id="startDate" />
                  </td>
                  <td>
                    <label for="endDate">End Date</label>
                    <input style="width:  auto;" type="date" id="endDate" />
                  </td>
                </tr>
              </th>
            </table>

          </div>
          <div>
            <label for="inputContent">Description</label>
            <textarea id="inputContent"></textarea>
          </div>
          <div>
            <label for="inputTitle">Technologies</label>
            <table>
              <tr>
                <td style="width: 200px;">
                  <label>Node Js</label>
                  <input type="radio" checked="checked" style="width: 30px; " name="radio" id="nodeJs">

                </td>
                <td style="width: 200px;">
                  <label>React Js </label>
                  <span style="padding-left: 15px;"></span>
                  <input type="radio" checked="checked" style="width: 30px;" name="radio" id="reactJs">
                </td>
              </tr>
              <tr>
                <td style="width: 200px;">
                  <label>Next Js</label>
                  <span style="padding-left: 5px;"></span>
                  <input type="radio" checked="checked" style="width: 30px; " name="radio" id="nextJs">

                </td>
                <td style="width: 200px;">
                  <label>Typescript </label>
                  <input type="radio" checked="checked" style="width: 30px;" name="radio" id="typescript">
                </td>
              </tr>
            </table>
          </div>
          <div>
            <label>Upload Image</label>
            <div class="input-blog-image-group">
              <label for="inputImage">
                <input type="file" id="inputImage" style="margin-top: 20px;" />
                <img src="assets/img/file.png" alt="file" />
              </label>

            </div>
          </div>
          <div class="button-group">
            <input type="button" value="submit" class="button" onclick="submitBlog()">
          </div>
        </form>
      </div>
    </div>

    <hr class="line" />
    <h1 class="myproject">MY PROJECT</h1>
    <div id="contents" class="blog-list">
      <!-- dynamic content would be here -->
    </div>
  </div>
  <script>
    feather.replace();
  </script>
  <script src="assets/js/myproject.js"></script>
</body>

</html>