/*form*/

.input-contact {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  padding: 10px;
}

.submit-contact {
  background-color: #111727;
  color: #fff;
  padding: 5px;
  width: 100px;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.btn-submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn-contact {
  display: flex;
  width: 100%;
  justify-content: end;
}

.btn-contact a {
  text-decoration: none;
  background-color: #111727;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}

.container-form {
  display: flex;
  justify-content: center;
  margin: 50px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}

.form h1 {
  font-weight: bolder;
  text-align: center;
  font-size: larger;
}
.label-contact {
  font-weight: bold;
  font-size: 15px;
}
