/*form*/

.input-contact {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  padding: 10px;
}

.submit-contact {
  background-color: #111727;
  color: #fff;
  padding: 5px;
  width: 100px;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.btn-submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn-contact {
  display: flex;
  width: 100%;
  justify-content: end;
}

.btn-contact a {
  text-decoration: none;
  background-color: #111727;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}

.container-form {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 55%;
}
.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}

.form h1 {
  font-weight: bolder;
  text-align: center;
  font-size: larger;
}
.label-contact {
  font-weight: bold;
  font-size: 15px;
}

/* Media Queries */
/* Laptop */
@media only screen and  (max-width: 1366px) {
  html {
      font-size: 75%;
      
  }
  .btn-nav{
    display: block;
  }
}

/* Tablet */
@media only screen and (max-width: 820px) {
  html {
      font-size: 62.5%;
  }
  /* Navbar */
  .nav-collapse {
      display: none;
  }
  .hamburger-menu {
      display: block;
  }
  .container-hamburger-menu.active {
      font-size: 15px;
      display: flex;
      flex-direction: column;
  }
  .btn-nav{
    display: none;
  }

  /* Form */
  
}

/* Mobile Phone */
@media only screen and  (max-width: 500px) {
  html {
      font-size: 55%;
  }
  .btn-nav{
    display: none;
  }
}