* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e2e6ea;
}

.nav {
  background-color: #f4f3f3;
  height: 75px;
}

.container-nav {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 30px;
  margin-right: 30px;
}

.container-nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 50px;
}

.container-nav ul li img {
  height: 50px;
  cursor: pointer;
}

.nav-link {
  font-size: 20px;
  width: 90px;
}

.nav-link a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.nav-link a:hover {
  font-weight: bolder;
}

.input-contact {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  padding: 10px;
}

.submit-contact {
  background-color: #111727;
  color: #fff;
  padding: 5px;
  width: 100px;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.btn-submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btn-contact {
  display: flex;
  width: 100%;
  justify-content: end;
}

.btn-contact a {
  text-decoration: none;
  background-color: #111727;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}


/* General Styles */
.container {
  margin: auto;
  margin-top: 5%;

  border-radius: 5px;
  display: flex;
  text-align: left;
  /* flex-direction: column;  */
  align-items: center;
  /* Center items horizontally */
  padding: 10px;
}

.text {
  margin: 10px;
  text-align: center;

  flex: 30%;
  padding: 20px;
  width: 300px;

}


.text h1 {
  font-size: 25px;
  margin-bottom: 20px;
}

.desc {
  font-weight: 100;
  font-size: large;
  text-align: center;
  width: 30%;
}

/* Content Styles */
.content1 {
  padding: 20px 100px;
}

.content1 h1 {
  font-size: 30px;
}

.content1 p {
  font-size: larger;
  text-align: center;
  margin-bottom: 40px;
  background-color: aqua;

}

/* Contact Styles */
.contact {
  text-decoration: none;
  background-color: #111727;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  margin-right: 30px;
  width: 20%;
  font-size: medium;

}

.container-cv {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.container-cv h3 {
  font-size: medium;
  font-weight: 400;
}

.container-cv img {
  width: 30px;
  height: 30px;
  position: relative;
}

.button-row {
  display: flex;
  align-items: center;
  padding: 10px 0px 0px 0px;
}

.contact-btn,
.contact-butn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 20px;
  cursor: pointer;
  background-color: #111727;
  color: #fff;
}

/* Download CV Styles */
.download-cv {
  display: flex;
  align-items: center;
}

.download-cv p {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 400;
}

/* Icon Styles */
.icon {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.icon img {
  width: 50px;
}

/* Card Styles */
.container-card {
  background-color: #f8f5f5;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-card img {
  width: 100%;
  border-radius: 10px;
}


.profile-container1 {
  padding-bottom: 5px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-top: 20px;
  /* Add margin to separate text and image */
  flex: 70%;
  margin-left: 10px;
  margin-right: 10px;
}
.profile-container img {
  width: 200px;
  height: auto;
  margin-top: 10px;
  /* Add margin to separate image and text */
}

/* Centered Div Styles */
div[style="text-align: center;"] {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

div[style="text-align: center;"] a {
  margin: 0 10px;
}

/* Social Media Icons Styles */
.fa-tiktok,
.fa-facebook,
.fa-instagram,
.fa-whatsapp {
  font-size: 20px;
  color: #111727;
}


/* Media Queries */
/* Laptop */
@media only screen and (max-width: 1366px) {
  html {
    font-size: 75%;

  }
  .profile-container {
    padding-bottom: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: white ;
    border-radius: 10px;
    margin-top: 20px;
    /* Add margin to separate text and image */
    flex: 70%;
    margin-left: 10px;
    margin-right: 10px;
    width: 50%;

  }
  .btn-nav {
    display: block;
  }

  .myfloat {
    display:inline-block;
    margin: 10px;
   
  }
}

/* Media Queries */
/* Tablet */
@media only screen and (max-width: 768px) {
  .text {
    width: 90%;
    /* Adjust the width of the text for smaller screens */
  }

  .container {
    align-items: flex-start;
    /* Align items to the start for smaller screens */
  }
  .profile-container {
    padding-bottom: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    align-items: center;
   
    /* Add margin to separate text and image */
    flex: 70%;
    margin: auto;
    margin-top: 20px;
    width: 70%;
   
  }
  .btn-nav {
    display: none;
  }

  .profile-container img {
    margin-top: 0;
    /* Remove margin on smaller screens */
  }

  .myfloat {
    float: none;
    margin: auto;
    width: 55%;
  }
}

/* Mobile Phone */
@media only screen and (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .btn-nav {
    display: none;
  }
  .profile-container {
    padding-bottom: 5px;
   
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    align-items: center;
   
    /* Add margin to separate text and image */
    flex: 70%;
    margin: auto;
    margin-top: 20px;
    width: 70%;
   
  }
  .myfloat {
    float: none;
    margin: auto;
    width: 55%;
  }
}